.plans{
    padding-top: 100px;
    padding-bottom: 100px;
    &_header{
        text-align: center;
        p{
            max-width: 555px;
            margin: 0 auto;
            margin-bottom: 3.75rem;
        }
    }
    &_boxes{
        grid-auto-rows: 760px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 20px;
        text-align: center;    
        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr;
            row-gap: 1rem;
          }    
    }
    &_box{
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        padding: 4rem;
        position: relative;
        transition: all 0.4s;
        &:hover{
            border: 2px solid #00E700;
        }
    }
    ul {
        position: relative;
        list-style: none;
        margin-left: 0;
        padding-left: 1.2em;
    }
    ul li{
        margin-top:10px;
        font-size: 0.875rem;
        color: #4F5665;
        position: relative;
        line-height:30px;
    }
    ul li:before {
        content: url(../../images/jam_check.png);
        position: absolute;
        left: 0;
        top: 1px;
        @include media-breakpoint-down(md) {
            left: -11rem;
          }   
    }
    h2.smaller{
        font-size: 1.563rem;
        color: #4F5665;
        font-weight: 400;
        strong{
            color: $first;
        }

    }
    a.btn_outline{
        margin:0 auto;
    }
    &_bottom{
        position: absolute;
        bottom: 3.125rem;
        left: 0;
        right: 0;
    }
    h3{
        margin-bottom: 1.875rem;
    }
}
