body {
    font-family: rubik, sans-serif;
  }
  .container {
      clear: both;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      padding-right:calc( var( --bs-gutter-x) * 3 ) ;
      padding-left:calc( var( --bs-gutter-x) * 3 ) ;
      width: 100%;
    
      @each $container-size-name, $container-max in $container-max-widths {
        @include media-breakpoint-up($container-size-name) {
          max-width: $container-max;
        }
      }
      @include media-breakpoint-down(md) {
        padding-right:1rem;
        padding-left:1rem;
      }
    }
  
    a{
      transition: all 0.4s;
    }
  
    h1{
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2rem;
      @include media-breakpoint-up(md) {
        font-size: 3.125rem;
        font-weight: 500;
        line-height: 4.3rem;
      }
    }
    p{
      font-size: 1rem;
      color: $third;
      line-height: 1.8rem;

    }
      img{
      max-width: 100%;
      height: auto;
    }
    a.btn{
      background-color: $second; /* Green */
      border: none;
      color: $first;
      padding: 17.5px 78px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 1rem;
      font-weight: 700;
      max-width: fit-content;
      border-radius: 10px;
      -webkit-box-shadow: 0px 14px 46px 0px rgba(0,255,0,0.35);
      -moz-box-shadow: 0px 14px 46px 0px rgba(0,255,0,0.35);
      box-shadow: 0px 14px 46px 0px rgba(0,255,0,0.35);
  
  
      &:hover{
          background-color: $first;
          color: $second;
      }
    }
  
    